@charset "UTF-8";

                   /*
				                 -----------------------------------------------------------------------------------
								 CSS:                      Whats my MPG
								 Created:                   15/11/2011
								 Author:                   Christopher Eagle / weblaunchr.com
								 -----------------------------------------------------------------------------------

								 -----------------------------------------------------------------------------------
				    */






/*------------------------------------------------------------
            Global style start here
------------------------------------------------------------*/



body {background:#999;font:14px/20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; -webkit-font-smoothing: antialiased;}

#background { left: 0; min-height: 100%; min-width: 100%; position: fixed; top: 0; right:0; z-index: -1; background:#444 url('images/wood_pattern.jpg') 0 0 repeat;}
a:link {text-decoration:none;color:#fff;}
a:visited {color:#fff;}
header a:hover {color:#fff;border-bottom:1px dotted #fff;}
a:active {color:#fff;}
a:focus {color:#fff;}


h2 {font-family:"Open Sans";font-weight:bold;font-size:18px;color:#bbb;margin-bottom:16px;text-align:center;text-shadow:0 1px 0 #fff;position:relative;}
h2:before {content:"";position:absolute;height:0;border-bottom:1px solid #fff;border-top:1px solid #d3d3d3;width:50px;left:24px;top:10px;}
h2:after {content:"";position:absolute;height:0;border-bottom:1px solid #fff;border-top:1px solid #d3d3d3;width:50px;right:24px;top:10px;}
p {color:#757575;margin-bottom:20px;text-shadow:0 0 1px rgba(0,0,0,0.01);}
p.intro {padding:0 16px;}


header {width:auto;background:rgba(0,0,0,.5);margin:0 auto;font-weight:bold;color:#fff;line-height:18px;padding:8px 0;text-align:center;text-shadow:0 1px 1px rgba(0,0,0,.4);font-size:12px;font-weight:normal;}

#outer {margin:5% auto 40px auto;background-color:#f5f5f5;background-image:-moz-linear-gradient(top,#f1f1f1, #ebebeb, #f1f1f1);background-image:-webkit-linear-gradient(top,#f1f1f1, #ebebeb, #f1f1f1);height:auto;width:336px;border-radius:6px;


box-shadow:0 0 0 1px #a3a3a3 inset,0 0 0 2px #fff inset,0 6px 0 0 #b2b1b1, 0 5px 0 0 #a5a5a5, 0 7px 5px 1px rgba(0,0,0,.5);
}



#inner {padding:16px 0 16px 0;height:auto;width:auto;}


fieldset {padding:0 16px;width:auto;background:;}

.hz {border-bottom:1px solid #fff;border-top:1px solid #d3d3d3;height:0;width:330px;margin:0 auto 20px auto;padding:0;}





input::-moz-focus-inner {border:0;padding:0;}
input, label, a.again {font-family:"Open Sans";font-weight:bold;font-size:12px;}
.text-wrap {width:296px;height:27px;background-image:-moz-linear-gradient(top,#e9edee, #d0d4d6);background-image:-webkit-linear-gradient(top, #e9edee, #d0d4d6);box-shadow:0 0 0 1px rgba(255,255,255,.4) inset;border-radius:4px;border:1px solid #b5b9ba;padding:3px;margin-bottom:20px;}
input[type=radio] {height:25px;width:294px;border:1px solid #b0b4b6;padding:0;margin:0;background:#fff;box-shadow:0 1px 2px rgba(0,0,0,.2) inset;border-radius:3px;text-indent:5px;color:#757575;}
::-webkit-input-placeholder {
   color: #d1d1d1;
}
/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #b2b2b2;
  margin-bottom: 26px;
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  text-align: right;

  position: absolute;
  top: 14px;
  left: -105px;
  width: 80px;

}
/*---------------------------------------------*/

input:-moz-placeholder {
   color: #d1d1d1;
}
.radio-wrap {
  height: 30px;
  position: relative;
  float: left;
  display: inline-block;
  margin-bottom:20px;
}
.radio-wrap.half {
  width: 50%;
}
.radio-wrap.third {
  width: 33.3%;
}

:root input.custom-radio {
  position: absolute;
  clip: rect(0,0,0,0);
}

:root input.custom-radio ~  label{
  display: inline-block;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #bebebe;
  background-image: -moz-linear-gradient( top, #fefefe, #e1e1e1);
  background-image: -webkit-linear-gradient( top, #fefefe, #e1e1e1);
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  color: #888;
  text-shadow: 0 1px 0 #fff;
}

:root input.custom-radio ~ label[for=esUS], :root input.custom-radio ~ label[for=qc], :root input.custom-radio ~ label[for=testing] {border-left:none;border-top-right-radius:4px;-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;}
:root input.custom-radio ~ label[for=enUS], :root input.custom-radio ~ label[for=creator], :root input.custom-radio ~ label[for=training] {border-top-left-radius:4px;-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;}
:root input.custom-radio:checked ~ label { background-image:-moz-linear-gradient(top,#ebebeb, #fefefe);background-image:-webkit-linear-gradient(top,#ebebeb, #fefefe);box-shadow:0 1px 2px  rgba(0,0,0,.2) inset;color:#707070;text-shadow:0 0 2px #fff; }

:root input.custom-radio:checked ~ label[for=esUS], :root input.custom-radio ~ label[for=qc], :root input.custom-radio ~ label[for=testing]  {border-left-color:#fff;}
:root input.custom-radio:checked ~ label[for=enUS], :root input.custom-radio ~ label[for=creator], :root input.custom-radio ~ label[for=training] {border-right-color:#bebebe;}





.error {background:rgba(255,0,0,.3);border:1px solid rgba(255,0,0,.5);border-radius:4px;margin-bottom:20px;color:#333;padding:5px 16px;}


input[type=submit] {width:304px;height:28px;padding:0;margin:0;border:0;background-color:#74b931;background-image:-moz-linear-gradient(top,#a7d34e, #74b931);background-image:-webkit-linear-gradient(top,#a7d34e, #74b931);border-radius:3px;border:1px solid #5b8821;box-shadow:0 1px 0 0 rgba(255,255,255,.4) inset, 0 1px 2px rgba(0,0,0,.2);color:#eee;font-weight:bold;font-family:"Open Sans";font-size:12px;text-shadow:0 1px 1px rgba(0,0,0,.3);cursor:pointer;}
input[type=submit]:hover {color:#fff;text-shadow:0 1px 0 rgba(0,0,0,.3);}
input[type=submit]:active {background-image:-moz-linear-gradient(top,#74b931, #a7d34e);background-image:-webkit-linear-gradient(top, #74b931, #a7d34e);box-shadow:0 1px 1px rgba(0,0,0,.1);color:#fff;}







.results {margin:0 auto 0;padding-bottom:6px;}
.results div:nth-child(odd) {background:;height:48px;margin-bottom:10px;position:relative;padding:0 16px;}
.results div:nth-child(even) {margin-bottom:10px;width:333px;}
.results p {margin:0;line-height:36px;}
.results img {margin:0 20px 0 0;float:left;}
.results span {font-family:"Open Sans";font-weight:bold;font-size:18px;display:inline-block;float:left;color:#333;}
.results small {position:absolute;bottom:5px;left:84px;line-height:18px;}

a.again {width:300px;height:28px;padding:0;margin:0 auto;border:0;background-color:#74b931;background-image:-moz-linear-gradient(top,#a7d34e, #74b931);background-image:-webkit-linear-gradient(top,#a7d34e, #74b931);border-radius:3px;border:1px solid #5b8821;box-shadow:0 1px 0 0 rgba(255,255,255,.4) inset, 0 1px 2px rgba(0,0,0,.2);color:#eee;font-weight:bold;font-family:"Open Sans";font-size:12px;text-shadow:0 1px 1px rgba(0,0,0,.3);cursor:pointer;display:block;text-align:center;text-transform:uppercase;line-height:28px;}

a.again:hover {color:#fff;text-shadow:0 1px 0 rgba(0,0,0,.3);}
a.again:active {background-image:-moz-linear-gradient(top,#74b931, #a7d34e);background-image:-webkit-linear-gradient(top, #74b931, #a7d34e);box-shadow:0 1px 1px rgba(0,0,0,.1);color:#fff;}



.twitter-share-button {display:block;margin:0 auto;width:76px!important;margin-bottom:40px;}


.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



