<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FakeChatBot.JS Demo</title>
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/fakechatbot.css"/>
    <style>
    .container { margin:150px auto; max-width:640px;}

    </style>
</head>
<body>
<div id="jquery-script-menu">
    <div class="jquery-script-center">
        <ul>
            <li><a href="https://www.jqueryscript.net/text/Minimal-jQuery-Based-Chat-Simulator-FakeChatBot.html">Download
                This Plugin</a></li>
            <li><a href="https://www.jqueryscript.net/">Back To jQueryScript.Net</a></li>
        </ul>
        <div class="jquery-script-clear"></div>
    </div>
</div>
<div class="container">
    <h1>RyanBot</h1>
    <div class="card card-inverse card-primary">
        <div class="card-block">
            <blockquote class="card-blockquote">

                <div id="chatbot">
                    {% for turn in script %}
                    <div class="fakechatbot-message" data-pause="1000"><strong><i class="{{ loop.cycle('fa fa-android', 'fa fa-user') }}"></i>{{ loop.cycle('Bot', 'User') }}:</strong>
                        {{ turn }}
                    </div>
                    {% endfor %}
                    <div class="fakechatbot-typing">Typing ...</div>
                </div>

            </blockquote>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="../scripts/fakechatbot.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('#chatbot').fakechatbot();
    });

</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


</script>
</body>
</html>
